<h1>Olá mundo</h1>
<h1>Articles</h1>

<ul>
    <li> Title, Body </li>
    <% @articles.each do |article| %>
        <a href="<%= article_path(article) %>">
            <li><%= article.title %></li>
        </a>
    <% end %>
</ul>